@import "_variables.styl";

* {
  box-sizing border-box !important;
}

// inject:all
@import "../../../src/app/components/layout/header/header.styl";
@import "../../../src/app/components/layout/layout.styl";
@import "../../../src/app/components/layout/left-sidebar/left-sidebar.styl";
@import "../../app/components/layout/ios-mobile-menu/ios-mobile-menu.styl";
@import "../../../src/app/route/dasboard/dashboard.styl";
@import "../../../src/app/route/notification/notification-route.styl";
@import "../../../src/app/route/settings/settings-route.styl";
// endinject
