.router-container {
  padding 25px;

  .router-title {
    font-size 18px;
    font-weight bold;
    color #40475A;

    .router-sub-title {
      color #7f7f81;
      font-size 15px;
      margin-top: 5px;
    }
  }
}


