.send-money-via-phone {
  .card-container {
    .input-phone-wrapper {
      padding 15px;
      border-bottom 1px solid #dedede;
      position relative;
      font-size 16px;
      padding-left: 80px;
      font-weight bold;

      .country {
        position absolute;
        padding-left 30px;
        left 15px;
        top: 16px;

        svg {
          position absolute;
          top: -2px;
          left 0;
          border-right 5px;
        }
      }

      .input-phone {
        width 100%;
        outline none;
        border: 0;
        border-left 1px solid #dedede;
        padding-left 10px;
      }
    }

    .sub-info {
      padding 10px 15px;
      font-size 13px;
      color #7f7f81;
      position relative;

      .icon {
        position absolute;
        top: 10px;
        right 15px;
      }
    }
  }
}
