.dashboard-money-box {
  .card-container {
    padding: 15px;

    .progress-title {
      font-size 16px;
      position relative;

      .progress-value {
        position absolute;
        right: 0;
        top: 0;
      }
    }

    .progress-line {
      height 8px;
      border-radius 5px;
      border: 1px solid #dedede;
      width 100%;
      margin-top: 10px;
      padding 1px;

      .line-value {
        height 100%;
        border-radius 5px;
        background income-color;
      }
    }

    .progress-sub-title {
      margin-top: 5px;
      font-size 13px;
      color #7f7f81;
    }
  }
}
