.dashboard-route {
  .dashboard-item-wrapper {
    display flex;
    margin-top: 20px;

    .left-col {
      width 35%;
      padding-right 10px;
    }

    .right-col {
      width 65%;
      padding-left 10px;
    }


    .item-row {
      display flex;

      .item-col-left {
        width 65%;
        padding-right 10px;
      }

      .item-col-right {
        width 35%;
        padding-left 10px;
      }
    }

    .dashboard-card-item {
      margin-bottom 20px;

      .card-title {
        font-size 16px;
        font-weight: bold;
        color: #40475a;
        margin-bottom 10px;
      }

      .card-container {
        background white;
        border-radius 5px;
        border: 1px solid #dedede;
      }
    }
  }
}


